/backend/LoadBalancer/.vs
/backend/LoadBalancer/packages
/backend/LoadBalancer/LoadBalancer/bin
/backend/LoadBalancer/LoadBalancer/obj

/backend/SessionServer/.vs
/backend/SessionServer/packages
/backend/SessionServer/SessionServer/bin
/backend/SessionServer/SessionServer/obj

/backend/KarmaCounterServer/.vs
/backend/KarmaCounterServer/packages
/backend/KarmaCounterServer/KarmaCounterServer/bin
/backend/KarmaCounterServer/KarmaCounterServer/obj

/lib/DbUtil/.vs
/lib/DbUtil/packages
/lib/DbUtil/DbUtil/bin
/lib/DbUtil/DbUtil/obj

/lib/Logger/.vs
/lib/Logger/packages
/lib/Logger/Logger/bin
/lib/Logger/Logger/obj

/lib/SolidityEncoder/.vs
/lib/SolidityEncoder/packages
/lib/SolidityEncoder/SolidityEncoder/bin
/lib/SolidityEncoder/SolidityEncoder/obj